<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">  
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- style -->
    <link rel="stylesheet" href="style.css">
    <title>Giulfix</title>
</head>
<body>

    <div id='app'>

        <header>

            <img src="logo.png" alt="">

            <div class='research'>
                <input type="text" 
                placeholder="Inserisci titolo" v-model='searchInput'
                @keyup.enter="getResult">
                <button @click='getResult'>Search</button>
            </div>
           
        </header>       
        
        <div class='container'>

            <ul class='list' v-if='films.length > 0'>
                <li class='list-result' v-for='film in films'>
                    <img 
                    v-if='film.poster_path'
                    :src="`https://image.tmdb.org/t/p/w185${film.poster_path}`" alt="">
    
                    <img v-else class='no-image'
                    src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="">
                    <h2> {{film.title}} </h2>
                     <p>Original title {{film.original_title}}</p>
                    <p>Lingua:</p>
                        
                            <img v-if='langFlag(film.original_language)' class='flag' :src="getFlag(film.original_language)" alt="">
                            <span v-else>{{film.original_language}}</span>
    
                    <p>Voto: {{film.vote_average}}
                        <i v-for="star in getVote(film.vote_average)" class="fas fa-star"></i>
                        <i v-for="star in (5 - getVote(film.vote_average))" class="far fa-star"></i>
                    </p>
                </li>           
            </ul>
            
    
    
            <ul class='list' v-if='series.length > 0'>
                <h3>Serie tv</h3>
                <li class='list-result' v-for='serie in series'>
                    <img 
                    v-if='serie.poster_path'
                    :src="`https://image.tmdb.org/t/p/w185${serie.poster_path}`" alt="">
    
                    <img v-else class='no-image'
                    src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="">
    
                    <h2> {{serie.name}}</h2>
                    <p> {{serie.original_name}}</p>
                    <p>Lingua:</p>
    
                        <img v-if='langFlag(serie.original_language)' class='flag' :src="getFlag(serie.original_language)" alt="">
                        <span v-else>{{serie.original_language}}</span>
                         
                    <p>Voto
                        <i v-for="star in getVote(serie.vote_average)" class="fas fa-star"></i>
                        <i v-for="star in (5 - getVote(serie.vote_average))" class="far fa-star"></i>
                    </p>
                </li>           
            </ul>

        </div>
        
        

    </div>
    

    <script src=" https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>