<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div id='app'>
        <input type="text" 
        placeholder="Inserisci titolo" v-model='searchFilm'
        @keyup.enter="getFilms">
        <button @click='getFilms'>Search</button>
        

        <ul>
            <li v-for='film in films'>
                <h2>Titolo: {{film.title}}</h2>
            <p>Titolo originale: {{film.original_title}}</p>
            <p>Lingua: {{film.original_language}}</p>
            <p>Voto: {{film.vote_average}}</p>
            </li>
           
        </ul>

    </div>
    

    <script src=" https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>